{% extends 'SymbioOrangeGateAdminBundle:CRUD:base_edit.html.twig' %}

{% block actions %}
    <div class="btn-group">{% spaceless %}
            {% include 'SymbioOrangeGateAdminBundle:Button:show_button.html.twig' %}
            {% include 'SymbioOrangeGateAdminBundle:Button:history_button.html.twig' %}
            {% include 'SymbioOrangeGatePageBundle:Button:publish_button.html.twig' %}
            {% include 'SymbioOrangeGateAdminBundle:Button:acl_button.html.twig' %}
        {% endspaceless %}</div>
    {#% include 'SymbioOrangeGateAdminBundle:Button:list_button.html.twig' %#}
{% endblock %}